<div class="game-root">
    <header class="game-header">
        <!-- Help icon on the left -->
     <button class="help-icon" (click)="openHelp()">❓</button>

      
        <!-- Centered title -->
     <h1 class="game-logo">
  <span class="top">HIDDEN</span>
  <span class="bottom">WORD</span>
</h1>
      
        <!-- Settings icon on the right -->
<button class="icon" aria-label="Leaderboard" (click)="openEndModal()">🏆</button>

      </header>
      
  
    <main class="game-main">
      <!-- Game Grid -->
        <div class="error-popup" *ngIf="errorMessage">
  {{ errorMessage }}
</div>
      <section class="board-container">
       
        <div class="board">
          <div class="row" *ngFor="let row of rows; let ri = index">
            <div class="row-inner">
              <div class="tiles">
                <div
                  class="tile"
                  *ngFor="let cell of row.cells; let ci = index"
                  [class.correct]="cell.state === 'correct'"
                  [class.present]="cell.state === 'present'"
                  [class.absent]="cell.state === 'absent'"
                >
                  {{ cell.letter || '' }}
                </div>
              </div>
  
              <!-- Emoji feedback -->
              <!-- Emoji feedback -->
<!-- <div class="emoji-wrap">
    <span
      *ngIf="row.score !== undefined"
      class="emoji"
      [attr.data-emoji]="getEmojiForScore(row.score)"
    >
      {{ getEmojiForScore(row.score) }}
    </span>
  </div> -->
  
            </div>
          </div>
        </div>
      </section>
  
      <!-- Keyboard -->
      <section class="keyboard-container">
        <div class="keyboard">
          <div class="kb-row" *ngFor="let row of keyboardRows">
            <button
              *ngFor="let key of row"
              class="key"
              (click)="onKey(key)"
              type="button"
            >
              {{ key === 'Backspace' ? '⌫' : key }}
            </button>
          </div>
        </div>
      </section>
    </main>
  </div>
  <app-help-modal *ngIf="showHelp" (close)="closeHelp()"></app-help-modal>
  <app-end-modal *ngIf="showEndModal" (close)="showEndModal = false"></app-end-modal>
